@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{
    --bg-color:#034C8C;
    --secondary-color:#6AAED9;
    --third-color:#262473;
    --fourth-color:#F2A057;
}


body{
    background-color:var(--secondary-color);
    color: #000000;
    font-family: 'roboto';
    padding: 0 10vh;
    scroll-behavior: smooth;
}
